body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
}
img {
  vertical-align: middle;
  max-width: 100%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

.numbertext {
  position: absolute;
  top: 10px;
  padding: 8px 12px;
  color: whitesmoke;
  font-size: 20px;
}

.text {
  color: red;
  font-size: 50px;
  padding: 8px 12px;
  position: obsolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dots-container {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
  margin-top: 50px;
  /* transition: black 0.6s ease; */
}

.active {
  background-color: black;
}
